/*Resting method */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Resting method */

body {
    font-family: Montserrat, sans-serif;
    background-color: rgb(233, 233, 233);
}

main {
    background-image: url('./images/bg-top.svg'), url('./images/bg-bottom.svg');
    background-position: right top, left bottom;
    background-repeat: no-repeat;
    margin: 50px 50px 50px 50px;
    background-color: hsl(240, 78%, 98%);
    padding: 100px;
}

main label {
    text-align: center;
    margin-bottom: 100px;
}

main h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}



.basic,
.professional,
.master {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background: white;
}

.basic:hover,
.professional:hover,
.master:hover {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transform: scale(1.15);
    color: white;
}

.basic li,
.professional li,
.master li {
    padding: 4% 30%;
    font-weight: bold;
}

.basic button,
.professional button,
.master button {
    margin-top: 10%;
    padding: 4% 30%;
    cursor: pointer;
    border-bottom: 0.4px solid hsl(237, 63%, 64%);
    border-radius: 5px;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: none;
    color: white;
}

.basic:hover button,
.professional:hover button,
.master:hover button {
    background: white;
    color: hsl(237, 63%, 64%);
}


.basic .title,
.professional .title,
.master .title {
    font-size: 17px;
    margin-top: 7%;
}

.basic .price,
.professional .price,
.master .price {
    font-size: 50px;
}

.basic .storage,
.basic .count,
.basic .speed,
.professional .count,
.professional.storage,
.professional.speed,
.master .speed,
.master .count,
.master .storage {
    font-size: 15px;
}

.basic hr,
.professional hr,
.master hr {
    border: 1px solid rgb(212, 212, 212);
    width: 82%;
}

/* slider button start */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-container {
    display: flex;
    justify-content: center;
}

.switch-container h3 {
    padding-left: 10px;
    padding-right: 10px;
}

/* slider button end */


@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    main {
        margin: 0px;
        padding: 20px;
    }

    .basic:hover,
    .professional:hover,
    .master:hover {
        background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        transform: scale(1.0);
        color: white;
    }

    /* .professional {
        background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        color: white;
    }

    .professional button {
        background: white;
        color: hsl(237, 63%, 64%);
    } */
}